<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- Liens vers les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles CSS personnalisés -->
    <style>
        body {
            background-image: url('/pngtree-an-empty-conference-room-with-a-large-table-and-dark-curtains-picture-image_2457521.jpg');
            background-color: #f8f9fa;
            background-size: cover;
            font-family: Arial, sans-serif;
        }
        .container {
            position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(48, 45, 45, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #842204;
            animation: colorChange 5s infinite alternate;
        }
      
        .navbar {
            background-color: #000000 !important;
            height: 40px; /* Réduire la hauteur de la navbar */
        }
        .navbar-brand {
            color: #fff !important;
            font-weight: bold;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            width: 100%;
            background-color: #842204;
            border-color: #842204;
        }
        .btn-primary:hover {
            background-color: #ea3b05;
            border-color: #ea3b05;
        }
    </style>
</head>
<body>
    
    <!-- Contenu principal -->
    <div class="container">
        <h1>Login</h1>
        <% if (errorMessage) { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
        <% } else if (successMessage) { %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
        <% } %>

        <!-- Formulaire de connexion -->
        <form id="loginForm" action="/users/login" method="post">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <p style="color: #f8f9fa;">you don't have an account ? <a href="/users/register" style="color: #8f1919;">Create an account</a></p>
                <a href="/forgot-password" style="color: #8f1919;">forgot password ?</a>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>


    <!-- Liens vers les fichiers JavaScript de Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap
